:root {
    /* Buttons and Interactive Elements */
    --color-primary: #ff6f00; /* Electric Blue */
    --color-secondary: #e63e00;
    
  
    /* Background Colors */
    --color-background-main: #f8f8f8; /* Soft Gray */
    --color-background-card: #FFFFFF;
    --color-nav : linear-gradient(90deg, #141E30, #243B55);   
    /* Text Colors */
    --color-text-primary: #343A40; /* Dark Gray */
    --color-text-secondary: #6C757D; /* Medium Gray */
  
    /* Alerts and Status Indicators */
    --color-success: #28A745; /* Green */
    --color-warning: #FFC107; /* Amber */
    --color-error: #DC3545; /* Crimson */
  }



.mainHd{
    font-size: 2rem;
    margin: 30px 0;
}
.subHead{
    font-size: 1.8rem;
    margin: 30px 0;

}

.smallHead{
    font-size: 1.5rem;
    margin: 10px 0;
}

/* home style*/


.filterBox{
    display: flex; 
    gap: 30px;
    margin: 20px 0;
}
.filterItems{
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
    cursor: pointer;
}
.filterItems:hover{
    
    background-color: rgb(78, 187, 197);
}
#allEvents,  #upcomingEvents,#pastEvents{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    gap: 40px;
}
.eventItems{
    width: 30%;
    height: max-content;
    /* Very dark gray */
    border-radius: 10px;
    color: var(--color-text-primary);
    position: relative;
    box-shadow:  0 8px 5px rgba(101, 94, 94, 0.1);
    background-color: white;
    
}
.eventItems:hover{
  background-color: var(--color-background-card);
 
  box-shadow:  0 10px 6px rgba(101, 94, 94, 0.1);
  
}
.imgContainer{
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}
.eventPoster{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.eventCategory{
    position: absolute;
    top: 3%;
    right: 5%;
    
     color: #FFFFFF;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 15px;
    padding: 5px 20px
}
.contentArea {
    padding: 10px 20px;
}
.contentArea > *{
    
    color: var(--color-text-secondary);
}
.contentArea i{
    margin-right: 10px;
    width: 5%;
}
.eventName{
    color: var(--color-text-primary);
  font-weight: bold;
  font-size: 1.2rem;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dateDetails{
    display: inline-block;
}
.itemsGap{
  margin: 10px 0;
}

.eventTime{
    border-left: 1px solid grey;
    padding-left: 10px;
}
.eventDate{
    padding-right: 10px;
}

.location{
   display: flex;
   align-items: center;
  
}
#createdEventSub,#createdEventDetails{
    display: none;
}
#upcomingEvents,#pastEvents{
    display: none;
}


/* sub category style*/

#categoryBox{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#categoryBox{
    margin: 30px 0;
}
.subCatItems{
    background-color: rgba(25, 39, 39, 0.733);
    padding: 10px;
    border-radius: 8px;
    color: var(--color-background-main);
}
.subCatItems >*{
    margin: 10px 0;
}

/* buttons */
.buttons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.messageBtn{
    width: 100%;
    background-color: var(--color-text-secondary);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    font-size: medium;
    margin-top: 10px;
    cursor: pointer;
}
.primaryBtn{
    background-color: var(--color-primary);
    text-decoration: none;
    color: white;
    border: none;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    font-size: medium;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
  }
  .secondaryBtn{
    background-color: var(--color-background-card);
    
    color: rgb(0, 0, 0);
    border: 1px solid black;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    font-size: medium;
    margin-top: 10px;
    cursor: pointer;
    
    transition: background-color 0.5s ease, transform 0.5s ease;
    
  }
  .primaryBtn:hover{
      background-color: var(--color-secondary);
      transform: scale(1.1);
  }
  .secondaryBtn:hover{
    background-color: rgb(245, 243, 243);
      

  }

  /* table style */

  table {
    border-collapse: collapse;
    
    margin: 20px 0;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}

#wrapper{
    margin-top: 50px;
}
#chartContainer{
    height: 250px;
    width: 250px;
}

.headPart{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

