:root {
  /* Buttons and Interactive Elements */
  --color-primary: #ff4500; /* Electric Blue */
  --color-secondary: #e63e00;
  

  /* Background Colors */
  --color-background-main: #f8f8f8; /* Soft Gray */
  --color-background-card: #FFFFFF;
  --color-nav : #ff4500; 

  /* Text Colors */
  --color-text-primary: #343A40; /* Dark Gray */
  --color-text-secondary: #6C757D; /* Medium Gray */

  /* Alerts and Status Indicators */
  --color-success: #28A745; /* Green */
  --color-warning: #FFC107; /* Amber */
  --color-error: #DC3545; /* Crimson */
}
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue",
    Helvetica, Tahoma, Arial, sans-serif;
    
}
body{
    background-color: var(--color-background-main);
    
*::first-letter{
  text-transform: capitalize;
} 
    
}
a{
  text-decoration: none;
  color: white;
  padding: 0 30px;
  font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2% 20px 5%;
    background-color:var(--color-nav);
    color: black;
    margin-bottom: 20px;
    position: fixed;
    z-index: 100;
    top: 0;
   left: 0;
    width: 100%;
  color: white;
  }
  .navLinkBox{
    display: inline-block;
  }
  
  
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
 .searchBox{
  width: 40%;
  position: relative;
 }
  .search-bar {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    text-transform: none;
 
  }
  #searchIcon{
    position: absolute;
    right: 20px;
    top: 10px;
    color: black;
    cursor: pointer;
    
  }
  
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  #logOut {
    background-color: #fff;
    color: #ff6600;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logOut:hover {
    background-color: #ff6600;
    color: #fff;
}
 


  .centerLayout{
    width: 90%;
    margin: 140px auto;
    padding: 1px;
 }

  

  
  #nearbyEventsContainer{

    width: 100%;
    margin: 20px 0;
   
  }

  #currentEventContainer,  #nearbyEventsBox{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  
    gap: 30px;
}
.currentEventItems{
    width: 30%;
    height: max-content;
    /* Very dark gray */
    border-radius: 10px;
    color: var(--color-text-primary);
    position: relative;
    box-shadow:  0 8px 5px rgba(101, 94, 94, 0.1);
    background-color: white;
    
}
.currentEventItems:hover{
  background-color: var(--color-background-card);
  cursor: pointer; 
  box-shadow:  0 10px 6px rgba(101, 94, 94, 0.1);
  
}
.imgContainer{
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}
.eventPoster{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.eventCategory{
    position: absolute;
    top: 3%;
    right: 5%;
    
     color: #FFFFFF;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 15px;
    padding: 5px 20px
}
.contentArea {
    padding: 10px 20px;
}
.contentArea > *{
    
    color: var(--color-text-secondary);
}
.contentArea i{
    margin-right: 10px;
    width: 5%;
}
.eventName{
    color: var(--color-text-primary);
  font-weight: bold;
  font-size: 1.2rem;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dateDetails{
    display: inline-block;
}
.itemsGap{
  margin: 10px 0;
}

.eventTime{
    border-left: 1px solid grey;
    padding-left: 10px;
}
.eventDate{
    padding-right: 10px;
}

.location{
   display: flex;
   align-items: center;
  
}

.eventAddress{
  line-height: 30px;
}
.primaryBtn{
  background-color: var(--color-primary);
  text-decoration: none;
  color: white;
  border: none;
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  font-size: medium;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.secondaryBtn{
 background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: medium;
  margin-top: 10px;
  border: 1px solid gray;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease;
}
.primaryBtn:hover{
    background-color: var(--color-secondary);
    transform: scale(1.1);
}
.secondaryBtn:hover{
  background-color: rgb(245, 243, 243);
    transform: scale(1.1);
}

  
/** skeleton loader **/

.card {
  width: 30%;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, .12);
  height: 400px;
}

.image {
  height: 200px;
}

.image img {
  display: block;
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.content {
  padding: 2rem 1.8rem;
}

h4 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.description {
  font-size: 1rem;
  line-height: 1.4rem;
}

.loading .image,
.loading h4,
.loading .description {
  background-color: #ededed;
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, .5) 50%,
    rgba(255, 255, 255, 0) 60%
  ) #ededed;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.loading h4 {
  min-height: 1.6rem;
  border-radius: 4px;
  animation-delay: .05s;
}


.skeletonBox{
  display: flex; 
  justify-content: space-between;
   margin-top: 30px;
}

.blurbackground{
  background-color: rgba(211, 211, 211, 0.482);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#searchContainer{
  display: none;
}
