*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}


:root{
    --mainBgColor : #121212;
    --cardBgColor : #FFFFFF;
    --primaryTxt : #ffffff;
    --secTxt : #6C757D;
    --successMsg : #00ff3c;
    --warnMsg : #FFC107;
    --errorMsg : #ff0019;
    --primaryBtn : #B71C1C;
    --secondaryBtn : #FF5252;
}

#registerHd{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0 10px 5%;
    box-shadow: 0.1px 0 2px black;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 2;
    background-color: #D32F2F;
    
    
    
}
main{
    padding: 80px 0;
    background-color: var(--mainBgColor);
    min-height: 100vh;
    
}
#registerHd > h2{
    align-self: center;
    margin: 0;
}
.registerContainerSignup{
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 10%;
    
}

.registerError{
    
    color: var(--errorMsg);
    margin-top: 6px;
    height: 10px;
}
.loginForm{
    
    width: 40%;
    
}
.loginTopBox{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* Hiding the login page*/
#signInPage{
    display: none;
}
.loginBtn{
    color: var(--primaryBtn);
    text-decoration: underline;
    cursor: pointer;
}

.getStartedHd{
    font-size: 30px;
}
.loginPoster{
    width: 30%;
    
}
.loginPoster > img{
    width: 100%;
   
}
.formHd{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

#signUpPh{
    
    margin-top: 5px;
    color: var(--primaryTxt);
    font-size: 20px;
}
.input-container{
    margin-bottom: 10px;
}
.input-container > label{
    display: block;
    margin-top: 20px;
    font-size: 20px;
    
}
.input-field::placeholder{
    color: black;
}

.input-field , select{
    height: 40px;
    width: 100%;
    margin-top: 10px;
    padding: 0 10px;
    font-size: 16px;
    color: black;
}
.input-field{
    background-color:#dee0e2dc;
    border: 0;
    border-radius: 2px;
}
select:focus > option{
    background-color: black;
    color: #FFFFFF;
}

#checkBox-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
#checkBox-container label{
   font-size: 19px;
   vertical-align: bottom;
}
#checkBox-container input{
    margin-right: 10px;
}
#btn-container{
    text-align: center;
    margin: 5px;
}
.registerBtn{
    background-color: var(--primaryBtn);
    border: 0;
    border-radius: 2px;
    padding: 10px 0;
    color: white;
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
}

.registerContainerLogin{
    display : flex;
    justify-content: center;
    align-items: center;
    height : 80vh;
    gap: 10%;
    background-color: var(--mainBgColor);
    
}
.registerContainerUp{
    height: auto;
}

@media only screen and (max-width: 600px) {
    .loginPoster{
        display: none;
    }
    .loginForm{
        width: 90%;
    }
}

